 .gallery img {
      height: 150px;
      display: inline-block;
      margin: 2px;
      vertical-align: top;
   }
   .loader {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .loader.loaded {
      opacity: 0;
      transition: all .3s linear;
   }
   .loader {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(255,255,255,.9);
   }
   .loader-progress {
      width: 80%;
      height: 50px;
      margin: auto;
      background: #f1f1f1;
      position: relative;
   }
 
   .loader-progress-bar {
      height: 100%;
      width: 0;
      background: #C7EFB3;
      transition: all .3s linear;
   }
 
   .loader-percent {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      font: 20px/50px sans-serif;
   }